.footer-content{
    max-width: 50%;
    margin: 0 auto;
    position: relative;
    }
.main-home{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    }
.site-footer-link-txt{
    color:#fffdfd;
    font-family: 'Muli'; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 28px;  text-align: center;
    }